/*body part start*/
body{
    margin:0px;
    padding:0px;
}
/*body part end*/

html{
    scroll-behavior: smooth;
}
/*header part start*/
.header-area{
    background-color: #ffffff;
    padding:10px 0px;
}
.header-area img{
  margin-left:75px;
}
/*header part end*/
/*menu part start*/
.menu ul li a{
    font-family: 'PT Sans', sans-serif;
    font-size:20px;
    font-weight: 700;
    color:#010101 !important;
}
.menu ul li{
    padding: 0px 30px;
}
/*menu part end*/
/*slider part start*/
.slider-part {
    background-color:#fcdb00;

}
.slider-part .slider-first{
    padding: 0px 70px;
}
.inspire ul li {
    font-size: 40px;
    padding: 10px 15px;
}
.inspire ul li a{
    color: black;
}
.slider .inspire{
    padding-top:80px;
    padding-left: 95px;
}
.slider .inspire h2{
   font-size:25px;
   font-weight: 700;
}
.slider .inspire h3{
    font-size:17px;
    padding-right: 80px;
    font-family: 'PT Sans', sans-serif;
  }

  .slider .inspire p{
    font-size:10px;
    padding-right:70px;

  }
  .slider .inspire ul {
    margin-left: -55px;
  }
  .slider img{
     padding: 0px 100px;
    margin-top: 35px;
    margin-left:-65px;
  }
.slider-part{
    height:600px;
}
/*slider part end*/
/*indicator part start*/
.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-indicators li a{
    margin-bottom: -50px;
}
.carousel-indicators {
    bottom: -60px; 
}
/*indicator part end*/
/*feature part start*/
.title h2{
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 20px 0px;
}
.title h5{
    font-size: 15px;
    font-family: 'PT Sans', regular;
    padding: 0px 275px;
}
.middle-part .middle-one h2{
   font-size: 20px;
   font-family: 'PT Sans', regular;
}
.middle-part .middle-one p{
   font-family: 'PT Sans', regular;
   padding: 0px 55px 0px 0px;
   font-size: 14px;
   color: #b2b2ad;
}
.middle-part .middle-one img{
   width: 30px;
   margin-left: 35px;
   margin-top: 2px;
}
.middle-part .middle-one{
  margin-top: 40px;
  padding: 0px 65px;
}
.middle-part .middle-one p{
  margin-bottom: 80px;
}
/*feature part end*/
/*contac part start*/
.contac-part{
  background-color:#010101;
}
.contac-part h2{
  color: #fcdb00;
  font-family: 'PT Sans', bold;
  margin-top: 90px;
}
.contac-part p{
  color: #898989;
  padding: 0px 200px;
  font-size: 16px;
  font-family: 'PT Sans', regular;
  font-weight: bold;
}
.contac-part input{
  margin-left: 235px;
  width: 80%;
  margin-bottom: 10px;
  padding: 22px;
}
.contac-part button{
  margin-left: 80px;
  text-transform: uppercase;
  padding: 10px;
  width: 100px;
}
.social-midea ul li a{
  background-color: #fcdb00;
  padding: 5px;
  display: block;
  width:40px;
  border-radius: 5px;
  margin-top: 90px;
  font-size: 20px;
  font-family: 'PT Sans', bold;
}
.social-midea ul li a{
  color:black;
}

/*contac part end*/
/*footer part start*/
.footer address{
  color: #ffffff;
  font-size: 17px;

}
.footer h5{
  font-size: 15px;
  font-family: 'PT Sans', regular;
}
.footer h6{
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'PT Sans', regular;
}
.footer h3{
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'PT Sans', regular;
}
.footer {
  font-size:20px;
  padding:10px;
}
.footer ul li {
list-style:none;
}
.footer ul li a {
  color: #ffffff;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  padding-left: 10px;
  }
 .footer-area{
  padding: 100px 0px;
  }
/*footer part end*/
